/*------------------------------------------------------------------
[Functions and media queries]
Project:    Portfolio
Version:    1.0
Assigned to:    Yari Morcus
Primary use:    To separate all functions and media queries from other CSS
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Header component]
Project:    Portfolio
Version:    1.0
Assigned to:    Yari Morcus
Primary use:    To separate all header css declarations based on component
-------------------------------------------------------------------*/
header div {
  justify-content: center;
  align-items: center;
}
header div + div.background {
  padding: 1rem;
  background: #f5f5f5 url(../img/home.jpg) center/cover no-repeat fixed;
}
header div + div.background assets.desktop-maxw-48em {
  padding: 2rem 0;
}