/*------------------------------------------------------------------
[Headings]
Project:    Portfolio
Version:    1.0
Assigned to:    Yari Morcus
Primary use:    To separate all heading css declarations
-------------------------------------------------------------------*/

header div.title {
  z-index: 1;
  
  @include desktop-minw-23em {
    min-width: 300px;
  }
  @include desktop-maxw-23em {
    width: 95%;
  }
}

.title__container {
  background-color: #fff;
  background-image: url('../img/background.png');
  background-size: cover;
  background-position: left 0px bottom -62px;
  background-color: #fff;

  &::after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $grey-transparent-bg;
    z-index: 0;
  }
}

h1,
.homepage__h2 {
  position: relative;
  padding: 10px;
  text-align: center;
  background: #fff;
  font-weight: 600;
  border: 1px solid #E2E2E2;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
}

h2 {
  font-weight: 600;
}

.subheading {
  margin: 3rem auto 0;
}

.projects__h2 {
  color: #000;
}

.project__subtitle {
  margin-bottom: 1rem;
  font-style: italic;
}
